languages:
- en
- af
- ar
- bg
- ca
- cs
- da
- de
- el
- eo
- es
- eu
- fi
- fr
- he
- hi
- hr
- hu
- id
- it
- ja
- ko
- lv
- ms
- nb-NO
- nl
- "no"
- pl
- pt
- pt-BR
- pt_BR
- ro
- ru
- sk
- sl
- sr
- sv
- te
- th
- tr
- uk
- vi
- yue
path_rules:
- 'public/locales/*/common.json'
- '!**/node_modules/**'
- '!**/build/**'
- '!**/.next/**'
- '!**/out/**'
- '!**/coverage/**'
- '!**/.git/**'
- '!**/venv/**'
- '!**/.venv/**'
- '!**/site/**'
- '!**/.cache/**'
- '!**/.idea/**'
- '!**/.vscode/**'
- '!**/config/**'
api:
  provider: algebras-ai
