@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Manrope, "Manrope-Fallback", Arial, sans-serif;
  overflow: overlay;
}

.light body::-webkit-scrollbar {
  width: 0.75em;
}

.light body::-webkit-scrollbar-track {
  background-color: rgb(var(--color-200));
}

.light body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-300));
  border-radius: 0.25em;
}

.dark body::-webkit-scrollbar {
  width: 0.75em;
}

.dark body::-webkit-scrollbar-track {
  background-color: rgb(var(--color-700));
}

.dark body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-600));
  border-radius: 0.25em;
}
