@font-face {
  font-family: "Manrope-Fallback";
  font-size: 16px;
  line-height: 1.6;
  color: red;
  visibility: visible;
  word-spacing: -0.65px;
  letter-spacing: 0.25px;
  font-weight: 400;
  src: local("Arial");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 200;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 300;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 800;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2");
  font-display: swap;
}
