@font-face {
  font-family: "Manrope-Fallback";
  font-size: 16px;
  line-height: 1.6;
  color: red;
  visibility: visible;
  word-spacing: -0.65px;
  letter-spacing: 0.25px;
  font-weight: 400;
  src: local("Arial");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 200 800;
  font-style: normal;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2"), url("./font/Manrope.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 200 800;
  fint-style: italic;
  src: local("Manrope"), url("./font/Manrope.woff2") format("woff2"), url("./font/Manrope.ttf") format("ttf");
  font-display: swap;
}
