* {
    --custom-color-50: ;
    --custom-color-100: ;
    --custom-color-200: ;
    --custom-color-300: ;
    --custom-color-400: ;
    --custom-color-500: ;
    --custom-color-600: ;
    --custom-color-700: ;
    --custom-color-800: ;
    --custom-color-900: ;
    --custom-color-logo-start: ;
    --custom-color-logo-stop: ;
}